<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block content %}
<!-- <h2>Log In</h2>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form> -->
<p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
<!-- <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br> -->
<p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'facebook' %}">Login with facebook</a><br>
{% endblock content %}