<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <title> blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'blog:home' %}">Available posts</a></h1>
            </div>
            <div class="nav-left">
                <h1><a href="{% url 'contact:contact' %}">Contact us</a></h1>
            </div>
            {% if user.is_authenticated %}
            <div class="nav-right">
                <a href="{% url 'blog:post_new' %}">+ New Blog Post</a>
            </div>
            {% endif %}
        </header>
        <header>
        {% if user.is_authenticated %}
            <div class="nav-left">
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            </div>
        {% else %}
        <div class="nav-left">
            <p>You are not logged in.</p>
            <p><a href="{% url 'login' %}">Log In</a></p>
            <p><a href="{% url 'signup' %}">Sign Up</a></p>
        </div>
        {% endif %}
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>