[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=maluki
Group=sudo
WorkingDirectory={{ install_root }}/{{ project_name }}
ExecStart={{ install_root }}/{{ project_name }}/myenv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 {{ wsgi_module }}:application

[Install]
WantedBy=multi-user.target